.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.sidebar{
    padding:10px;
}
.topbuttons {
    margin: 0;
	padding: 0;
}

.htp {  
    float:right;
}

h2{
    display:flex;
    justify-content: center;
    font-family: 'vanadine';
    font-size: 70px;
    margin-bottom: 50px;
    color: white;
}

.playbutton {
    display:flex;
    justify-content: center;
    text-align:center;
    padding-bottom: 20px;
}

.tries{
    padding:20px;
    font-size:30px;
    display:flex;
    justify-content: center;
    color:white;
    font-family:micro;
}

.submit{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.statues{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
    text-align:center;
}

.mid_left_statue{
    padding-left: 100px;
}

.mid_right_statue{
    padding-left:100px;
    padding-right:100px;
}

mat-sidenav-content{
    background-image: url("../assets/background4.png");
    background-size: 100% 100%;
}

.mat-option{
    min-height:55px; 
}

.answers{
    border: 2px solid;
/*    display: flex;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    margin: auto;
    font-size: 20px;
    background-color:gray;
}

.item_sequence {
    display:block;
}

.item_sequence img{
    border: 1px solid #ffffff;
    padding: 10px;
}

.item_sequence p{
    padding: 20px;
}
.answer_text{
    padding-top: 20px;
    display: block;
}
 ::ng-deep .mat-select{
    color: white;
 }

/*.mat-select-panel {
    background-color: red;
}

.mat-form-field-flex{
    background-color: red;
}

.mat-form-field{
    /*background-color: red;
    padding: 0;
    margin: 0;
}*/

::ng-deep .mat-form-field-wrapper{
    margin: 0 0 0 0;
    padding: 0;
    background-color:white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
  }

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: black;
    
}
::ng-deep .mat-select-value-text {
    color: black;

  }

  ::ng-deep .mat-form-field-label{
      color:black;
      
  }

.history_title{
    margin: auto;
    align-items: center;
    text-align: center;
}

mat-sidenav {
    width: 300px;
}

h1{
    margin-bottom: 0;
}

.mat-raised-button.mat-black {
    background-color: black;
    color:white;
    width: 200px;
    height: 50px;
    font-size: 25px;  
    font-family: vanadine;
 }

 .mat-raised-button.mat-orange{
     background-color: orange;
     color: black;
     width: 150px;
     height: 50px;
     font-size: 20px;
     font-family: vanadine;
 }