<head>
  <script data-ad-client="ca-pub-2646875546354466" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <div class="history_title">
      <h1>History</h1>
    </div>
    <ng-container #historycontainer></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <p class="topbuttons">
      <button mat-raised-button (click)="sidenav.toggle()" color="black">History</button>
      <button #htp mat-raised-button color="black" (click)="show_instructions()" class="htp">How to Play</button>
    </p>

    <h2>Sharenian PQ - Third Stage</h2>
    <div class="playbutton">
      <button class="play" mat-raised-button color="black" *ngIf="!is_playing" (click)="toggleplay()">Play</button> 
    </div>

    <div *ngIf="is_playing" class="playcontent">
      <div class="tries">
        <p>ATTEMPT: {{tries}} / 7</p><br>
      </div>
      <div class="statues">
        <div class="left_statue"> 
          <img src="assets/left_statue.png">
          <div>
            <mat-form-field floatLabel="never" appearance="outline">
              <!--<mat-label>Select Offering</mat-label>-->
               <mat-select placeholder="Select Offering" [formControl]="form.controls.item_control" [(value)]="item1">
                <mat-select-trigger>
                  <div class="trigger">
                    <img src='{{form.controls.item_control.value?.img}}'> {{form.controls.item_control.value?.viewValue}}
                  </div>
                </mat-select-trigger>
                <mat-option *ngFor="let item of items" [value]="item">
                  <div class="item_option">
                    <img src='{{item.img}}'> {{item.viewValue}}
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="mid_left_statue">
          <img src="assets/left_mid_statue.png">
          <div>
            <mat-form-field floatLabel="'never'" appearance="outline">
              <!--<mat-label floatLabel="never">Select Offering</mat-label>-->
              <mat-select placeholder="Select Offering" [formControl]="form.controls.item_control2" [(value)]="item2">
                <mat-select-trigger>
                  <div class="trigger">
                    <img src='{{form.controls.item_control2.value?.img}}'> {{form.controls.item_control2.value?.viewValue}}
                  </div>
                </mat-select-trigger>
                <mat-option *ngFor="let item of items" [value]="item">
                  <div class="item_option">
                    <img src='{{item.img}}'> {{item.viewValue}}
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="mid_right_statue">
          <img src="assets/right_mid_statue.png">
          <div>
            <mat-form-field floatLabel="never" appearance="outline">
               <!--<mat-label>Select Offering</mat-label>-->
              <mat-select placeholder="Select Offering" [formControl]="form.controls.item_control3" [(value)]="item3">
                <mat-select-trigger>
                  <div class="trigger">
                    <img src='{{form.controls.item_control3.value?.img}}'> {{form.controls.item_control3.value?.viewValue}}
                  </div>
                </mat-select-trigger>
                <mat-option *ngFor="let item of items" [value]="item">
                  <div class="item_option">
                    <img src='{{item.img}}'> {{item.viewValue}}
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="right_statue">
          <img src="assets/right_statue.png">
          <div>
            <mat-form-field floatLabel="never" appearance="outline">
               <!--<mat-label>Select Offering</mat-label>-->
              <mat-select placeholder="Select Offering" [formControl]="form.controls.item_control4" [(value)]="item4">
                <mat-select-trigger>
                  <div class="trigger">
                    <img src='{{form.controls.item_control4.value?.img}}'>{{form.controls.item_control4.value?.viewValue}}
                  </div> 
                </mat-select-trigger>
                <mat-option *ngFor="let item of items" [value]="item">
                  <div class="item_option">
                    <img src='{{item.img}}'> {{item.viewValue}}
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="submit">
        <button class="submit-button" mat-raised-button color="orange" (click)="submit()">Submit Answer</button>
      </div>
    </div>
    <div *ngIf="try_submitted" class="answers">
      <p style="white-space: pre;" class="answer_text">
        {{output_text}}
      </p><br/>
      <div *ngIf="game_complete">
        <div  class="item_sequence">
          <img src='{{item_s1}}'><img src='{{item_s2}}'><img src='{{item_s3}}'><img src='{{item_s4}}'>
          <p>Press Play To Play Again!</p>
        </div>
      </div>
    </div>
  
  </mat-sidenav-content>
</mat-sidenav-container>

