.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.sidebar{
    padding:10px;
}
.topbuttons {
    margin: 0;
	padding: 0;
}

.htp {  
    float:right;
}

h2{
    display:flex;
    justify-content: center;
    font-family: 'vanadine';
    font-size: 70px;
    margin-bottom: 50px;
    color: white
}

.playbutton {
    display:flex;
    justify-content: center;
}

.tries{
    padding:20px;
    font-size:large;
    display:flex;
    justify-content: center;
    color:white;
}

.submit{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}

.statues{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
    text-align:center;
}

.mid_left_statue{
    padding-left: 100px;
}

.mid_right_statue{
    padding-left:100px;
    padding-right:100px;
}

mat-sidenav-content{
    background-image: url("../assets/background4.png");
    background-size: 100% 100%;
}

.mat-option{
    min-height:55px; 
}

.answers{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

 ::ng-deep .mat-select{
    color: white;
 }

/*.mat-select-panel {
    background-color: red;
}

.mat-form-field-flex{
    background-color: red;
}

.mat-form-field{
    /*background-color: red;
    padding: 0;
    margin: 0;
}*/

::ng-deep .mat-form-field-wrapper{
    margin: 0 0 0 0;
    padding: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}
::ng-deep .mat-select-value-text {
    color: white;
  }
  
  ::ng-deep .mat-form-field-label{
      color:black;
  }

.history_title{
    margin: auto;
    align-items: center;
    text-align: center;
}

mat-sidenav {
    width: 300px;
}

h1{
    margin-bottom: 0;
}