<div>
    <div class="title_images">
        <div class="left_title_images">
            <img src='assets/medal.jpg'>
            <img src='assets/scroll.jpg'> 
        </div>
        <h2>How to Play</h2>
        <div class="right_title_images">
            <img src='assets/food.png'>
            <img src='assets/wine.jpg'>
        </div>
    </div> 
    <p>
        Welcome to the Sharenian PQ (GPQ) Stage 3 Simulator.<br><br>
        To start, press the "Play" button. Begin by selecting an item under each statue.<br>
        The goal of this stage is to determine the correct combination of the four items. Order Matters!<br> 
        After selecting each statue's item, press the "Submit Answer" button to check the submission.<br><br>
        If the submission is incorrect, clues for the correct answer will be shown below the button:<br>
    </p>
        <ul>
            <li>"Correct" = Right item and right place</li>
            <li>"Incorrect" = Right item but wrong place</li>
            <li>"Unknown" = Wrong item</li> 
        </ul>
    <p>
        Unfortunately, the statues won't indicate which items are in the correct spots or not, that's for the player to figure out.<br><br>
        There are only 7 chances to figure out the correct four items, or the game ends. Choose wisely!<br><br>
        Use the "History" button on the left side to see your previous answers.<br>
        It might help solve the puzzle!<br><br>
        Big thanks to my Nani Family in MapleLegends<br> 
        Created By: Hydrocodone, xB0wM4sT3rx 
    </p>
</div>
